<div id="maintenance-recovery" class="detail-pane">
	<div class="pane ui-layout-west">
		<h2 class="ui-state-highlight">
			<img src="[PREFIX]/img/recovery.png" />Reconstruction des dépôts
		</h2>
		<h3 class="ui-state-highlight">Dépôt de métadonnées</h3>
		[METADATA-RECOVERY] [METADATA-OPTIMIZATION]
		<h3 class="ui-state-highlight">Dépôt de ressources</h3>
		[CONTENT-RECOVERY] [CONTENT-OPTIMIZATION]
	</div>
	<div class="pane ui-layout-center">
		<div class="console-header ui-state-highlight ui-helper-clearfix">
			<span id="console-title-container">Rapport d'exécution</span>
			<div id="progressbar"></div>
			<span id="full-report-container"> Log complets<input
				type="checkbox" id="full-report-checkbox" />
			</span>
		</div>
		<div class="console-area-container">
			<div class="console-area"></div>
		</div>

	</div>
</div>