<div id="display" class="detail-pane">

	<div class="pane ui-layout-center">
		<div class="pane-header-wrapper">
			<h2 class="ui-state-highlight">
				<img src="[PREFIX]/img/eye.png" />Affichage
			</h2>
			<div class="display-options">
				<button id="change-display-mode">Mode [DISPLAY-MODE-LABEL]</button>
				<ul id="display-mode">
					<li class="ui-widget ui-widget-content ui-corner-all"><a
						href="[PREFIX]/resources/detail/[MDID]/display/display-mode/full"
						data-mode="full"> Mode normal</a></li>
					<li class="ui-widget ui-widget-content ui-corner-all"><a
						href="[PREFIX]/resources/detail/[MDID]/display/display-mode/base"
						data-mode="base"> Mode mini</a></li>
				</ul>
				<button id="change-display-device">Terminal :
					[DISPLAY-DEVICE-LABEL]</button>
				<ul id="display-device">
					<li class="ui-widget ui-widget-content ui-corner-all"><a
						href="[PREFIX]/resources/detail/[MDID]/display/display-device/screen"
						data-device="screen"> Terminal : moniteur</a></li>
					<!-- 			<li class="ui-widget ui-widget-content ui-corner-all"><a
				href="[PREFIX]/resources/detail/[MDID]/display-device/mobile"
				data-device="mobile"> Terminal : mobile</a></li>
			<li class="ui-widget ui-widget-content ui-corner-all"><a
				href="[PREFIX]/resources/detail/[MDID]/display-device/auto"
				data-device="auto"> Terminal : auto</a></li> -->
				</ul>
			</div>
		</div>
		<div class="display-wrapper">[DISPLAY]</div>
	</div>
	<div class="pane ui-layout-west">

		<h2 class="ui-state-highlight">
			<img src="[PREFIX]/img/img.png" />Miniature
		</h2>
		<div class="refresh-area">
			<div class="thumbs-container void-thumbs-container">
				<img src="[PREFIX]/img/thumbs-preload.gif" /><br /> Veillez
				patienter pendant la récupération des suggestions de miniature
			</div>
			<div class="custom-image-input-container">
				<h2 class="ui-state-highlight">
					<img src="[PREFIX]/img/img.png" />Images au choix
				</h2>
				<div>
					<form id="set_custom_thumb" enctype="multipart/form-data"
						action="[ACTION]" method="POST">
						<input id="thumb_upload" type="file" name="custom-thumb" /><input
							id="thumb_submit" type="submit" value="Miniature" />
					</form>
					<form id="set_custom_preview" enctype="multipart/form-data"
						action="[ACTION]" method="POST" >
						<input id="preview_upload" type="file" name="custom-preview" /><input
							id="preview_submit" type="submit" value="Prévisualisation" [NO-CONTENT-INDICATOR]/>
					</form>
					<div class="progress ">
						<div class="bar"></div>
						<div class="percent">0%</div>
						<div id="status"></div>
					</div>
				</div>




			</div>
		</div>
	</div>